<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>REGISTRO DE USUARIOS</h2>
        </div>
   
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">



            
                    <div class="body">
                        <form [formGroup]="formUsuarios">
                            <h2 class="card-inside-title">Ingrese los Datos del usaurio:</h2>
                            <div class="row clearfix">

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" rows="4" class="form-control" id="nombreUsuario" placeholder="Nombres y Apellidos" formControlName="nombreUsuario" />

                                            <div *ngIf="nombreUsuario.invalid && (nombreUsuario.dirty || nombreUsuario.touched)">
                                                <div class="error">Este campo es requerido</div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" rows="4" id="usuario"   class="form-control" placeholder="Usuario" formControlName="usuario">
                                            <div *ngIf="usuario.invalid && (usuario.dirty || usuario.touched)">
                                                <div class="error">Este campo es requerido</div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="password" rows="4" id="contrasenia" class="form-control no-resize"
                                            placeholder="Contraseña" formControlName="contrasenia">
                                            <div *ngIf="contrasenia.invalid && (contrasenia.dirty || contrasenia.touched)">
                                                <div class="error">Este campo es requerido</div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- <div class="col-sm-3">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" rows="4" class="form-control no-resize"
                                            placeholder="Confirmar contrasena">
                                    </div>
                                </div>
                            </div> --> 

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <div class="form-line">
                                        
                                        <select class="form-control show-tick" id="codRol" required="required"  formControlName="codRol">
                                            <option value="" selected>Escoja el Rol</option>
                                            
                                            <option *ngFor="let rol of roles" [value]="rol.codRol" >{{rol.desRol}}</option>
                                            

                                        </select>
                                        <div *ngIf="codRol.invalid && (codRol.dirty || codRol.touched)">
                                            <div class="error">Este campo es requerido</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                

                             
                            </div>

                            <div class="col-sm-12">
                                <div class="button-demo"> 
                                    <button type="button" class="btn btn-primary waves-effect"
                                    [disabled]="!formUsuarios.valid" (click)="onsubmit()">REGISTRAR</button>
                                    <button type="button" class="btn btn-default waves-effect" routerLink="/usuario-consultas">Volver</button>

                                </div>
                            </div>


                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
