<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>TABLAS</h2>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            CONSULTA DE TABLAS
                        </h2>

                    </div>
                    <div class="body">

                        <div class="row clearfix">
                        
                                
                                <div class="col-md-3">
                                    <h2 class="card-inside-title">Nombre de tabla: </h2>
                                </div>
                                <div class="col-sm-6">
            
                                    <mat-form-field appearance="fill" style="width: 100%;">

                                        <mat-select [value]="typetableseleccionada" (selectionChange)="typetableseleccionada = $event.value" >
                                          <mat-option *ngFor="let typetable of typetables" [value]="typetable">
                                            {{typetable}}
                                          </mat-option>
                                        </mat-select>
                                        
                                    </mat-form-field>

                                </div>

                        
                        </div>
                    </div>
                </div>
            </div>
               
            <div *ngIf="typetableseleccionada=='Tipo de Proyectos' ">

                <app-tipoproyecto [typetable]="typetableseleccionada"></app-tipoproyecto>

            </div>

            <div *ngIf="typetableseleccionada=='Estado de Proyectos' ">

                <app-estadoproyecto [typetable]="typetableseleccionada"></app-estadoproyecto>

            </div>

            <div *ngIf="typetableseleccionada=='Sector' ">

                <app-sector [typetable]="typetableseleccionada"></app-sector>

            </div>
   
        </div>
    </div>
</section>