

<section class="content" >
    <div class="container-fluid">
        <div class="block-header">
            <h2>GESTIÓN DE PROYECTOS - DASHBOARD</h2> 
        </div>

      
        <div class="row clearfix">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="info-box bg-pink hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">playlist_add_check</i>
                    </div>
                    <div class="content">
                        <div class="text">
                            <div>PROYECTOS</div>
                            <div style="font-size: 20px;">{{ projects.length }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="info-box bg-cyan hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">help</i>
                    </div>
                    <div class="content">
                        <div class="text">
                            <div>ENTREGABLES</div>
                            <div style="font-size: 20px;">{{ aplicativos.length }}</div>
                        </div>
                        
                    </div>
                </div>
            </div>
     
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="info-box bg-orange hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">person_add</i>
                    </div>
                    <div class="content">
                        <div class="text">
                            <div>USUARIO</div>
                            <div style="font-size: 20px;">{{ usuarios.length }}</div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <!-- <div class="header">
                        <div class="row clearfix">
                            <div class="col-xs-12 col-sm-6">
                                <h2>GESTIÓN DE PROYECTOS</h2>
                            </div>
                            
                        </div>
                       
                    </div> -->
                    <div class="body">
                        <div class="dashboard-flot-chart">
                            <div class="banner" style="padding:15px;">
                                <div class="banner-content">
                                <h1>Controla los proyectos de tu área</h1>
                                <p>Esta plataforma del MTPE busca la promoción del empleo decente y productivo, así como el cumplimiento de los derechos laborales y fundamentales de la población a través del fortalecimiento del diálogo social y la empleabilidad y protección de los grupos vulnerables, en el marco de un modelo de gestión institucional centrado en el ciudadano.</p>
                                <a href="https://www.gob.pe/mtpe" class="link" >Conoce más → </a>
                                </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  

    </div>
</section>
